<!DOCTYPE html>
<html lang="en">

<head>

  <!-- HTML Meta Tags -->
  <title>HomeWorkBros™</title>
  <meta name="description" content="Study Materials For Class 9th to 12th" />

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://hwb.spectral.host/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="HomeWorkBros™" />
  <meta property="og:description" content="Study Materials For Class 9th to 12th" />
  <meta property="og:image"
    content="https://cdn.discordapp.com/icons/770933405264248832/e088c83f92016218ba5658ffdc9c1794.png?size=4096" />

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:domain" content="hwb.spectral.host" />
  <meta property="twitter:url" content="https://hwb.spectral.host/" />
  <meta name="twitter:title" content="HomeWorkBros™" />
  <meta name="twitter:description" content="Study Materials For Class 9th to 12th" />
  <meta name="twitter:image"
    content="https://cdn.discordapp.com/icons/770933405264248832/e088c83f92016218ba5658ffdc9c1794.png?size=4096" />

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->

  <link rel="stylesheet" href="static/css.css">
</head>

<body>
  <h1 id="title">HomeWorkBros™</h1>
  <div id="content">
    <div>
      <a href="c/9">Class 9</a>
      <a href="c/10">Class 10</a>
    </div>
    <div>
      <a href="c/11">Class 11</a>
      <a href="c/12">Class 12</a>
    </div>
  </div>
</body>

</html>